//
   Created by bigboy1122 on 3/10/17.
html
    head
        <!--bower:css-->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!--endbower-->
        <!--bower:js-->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!--endbower-->

        //- inject:css

        link(rel="stylesheet", href="/css/styles.css")

        //- endinject
        //- inject:js

        script(src="/js/app.js")

        //- endinject
        title My Title
    body
        h1 My App
        p
            h3 sub heading

